h1 {
    font-size: 40px;
    font-family: Arial
  }
  
  h2 {
    font-size: 25px;
    font-family: Arial
  }
  
  h3 {
    font-family: Arial
  }
  
  p {
    font-size: 14px;
    font-family: Arial
  }

table {
    border-collapse: collapse;
}

table, th, td {
    border: none;
}
tr:nth-child(even) {
    background-color: #d5dbdb;
  }

.custom-table,.custom-table th,
.custom-table td {
    border-collapse: collapse;
    border: 1px solid #000;
}
  